#profile-container
  &.profile-picture
    overflow hidden
    margin-bottom 12px

    .image-container
      float left
      width 58px

      img
        border-radius 4px
        margin-right 10px

    .controls
      float right

      a
        display inline-block
        margin-bottom 12px
        text-decoration underline
        &:hover
          text-decoration underline

        ~span.error
          top 42px

  label.flaticon.social
    background: #666 none repeat scroll 0% 0%
    padding: 5px
    margin-right: 10px
    border-radius: 2px
    color: #FFF
    display: inline-block
    line-height: 10px
 
  img.avatar
    width 20px
    height 20px
    margin-left 5px