nav#sidebar
  //a.btn.btn-primary.btn-lg.btn-block.create-first-topic(type='button' href=url)= t('homepage.create-debate')
  .filter-container(data-sidebar-filter)
  .list-container(data-sidebar-list)
