- if (user.id)
  .col-md-12
    .subscription
      a#add-subscription.btn.btn-primary.pull-right.hide(href="#")
        span=t('homepage-tag.subscription')
      a#delete-subscription.btn.btn-primary.pull-right.hide(href="#")
        span=t('homepage-tag.unsubscription')